html {
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 7px;
    background-color: transparent;
    border-left: 1px solid #cacaca;
}
*::-webkit-scrollbar-thumb {
    background-color: #B7B7B7;
}



#app-container {
    display: flex;
    flex-direction: column;
}
#app-container-top {
    height: 50px;
    border-bottom: 1px solid #cacaca;
}
#app-container-main {
    display: flex;
    flex-direction: row;
}
#app-container-dialogs {
    /*height: 100%;*/
    border-right: 1px solid #cacaca;
    width: 300px;
    overflow: auto;
    overflow-x: hidden;
}
#app-container-main-messages {
}

/*#app-container-dialogs {
    width: 300px;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    border-right: 1px solid #cacaca;
    height: 100%;
}*/
.app-container-inner {

}



.friends-list {
}
.list-element {
    padding-left: 5px;
    height: 58px;
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-element:hover {
    background-color: #3C4661;
    color: #fff;
}
.list-element-photo {
    border-radius: 100px;
}
.list-element-photo img {
    /*border-radius: 200px;*/
    padding: 4px 0;
}
.friends-list-element-name {
    padding: 20px 10px;
}
.friends-list-element-inner {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    height: 59px;
    width: 100%;
}


.dialogs-list {
}
.dialogs-list-element {
    padding-left: 5px;
    cursor: default;
}
.dialogs-list-element:hover {
    background-color: #3C4661;
    color: #fff;
}
.dialogs-list-element-inner {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dialogs-list-element-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dialogs-list-element-info-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dialogs-list-element-info-head-name {
    padding: 0 0 0 10px;

}
.dialogs-list-element-info-head-date {
    font-size: x-small;
}
.dialogs-list-element-info-head-body {
    /*padding: 5px 0;*/
    display: flex;
    align-items: center;
}


#app-container-messages {
    width: 500px;
    height: 100%;
    /*position: absolute;*/
    overflow: auto;
    overflow-x: hidden;
    border-right: 1px solid #cacaca;
}
